<section class="contactus-sec py-5" id="contactus_sec">
  <div class="container">

    <div class="main_sec row align-items-center g-4">

      <!-- LEFT IMAGE -->
      <div class="col-md-6">
        <div class="contact-image position-relative">

         <img src="assets/images/contact_us_sec.png" class="img-fluid main-img">

          <div class="overlay-text">
            <h2>Contact Us</h2>
          </div>

        </div>
      </div>

      <!-- RIGHT FORM -->
      <div class="col-md-6 mt-0">
        <div class="contact-form p-4 pt-0 rounded bg-white">

          <form>

            <div class="row g-3">

              <div class="col-md-6">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" placeholder="First Name">
              </div>

              <div class="col-md-6">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name">
              </div>

              <div class="col-md-6">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" placeholder="Email">
              </div>

              <div class="col-md-6">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" placeholder="Phone Number">
              </div>

              <div class="col-12">
                <label class="form-label">Message</label>
                <textarea class="form-control" rows="4" placeholder="Write your message..."></textarea>
              </div>

              <div class="col-12 text-center">
                <button class="btn btn-primary px-4 rounded-pill">Send Message</button>
              </div>

            </div>

          </form>

        </div>
      </div>

    </div>

  </div>
</section>