<section class="why-choose-us py-5">
  <div class="container">

    <h2 class="text-center mb-5">Why Choose Us</h2>

    <div class="row align-items-center">

      <!-- LEFT COLUMN -->
      <div class="col-md-5">
        
        <div class="choose-box d-flex mb-5">
          <img src="assets/images/about_innplay1.jpg" class="img-fluid main-img">
          <div>
            <h5>Best Price Guarantee</h5>
            <p>We offer the best deals for your travel needs.</p>
          </div>
        </div>

        <div class="choose-box d-flex mb-5">
          <img src="assets/images/about_innplay2.jpg" class="img-fluid main-img">
          <div>
            <h5>Easy Booking</h5>
            <p>Simple and quick booking experience.</p>
          </div>
        </div>

      </div>

      <!-- CENTER IMAGE -->
      <div class="col-md-2 text-center my-4 my-md-0 diffrnt1">
        <img src="assets/images/about_innplay1.jpg" class="img-fluid main-img diffrnt">
      </div>

      <!-- RIGHT COLUMN -->
      <div class="col-md-5">

        <div class="choose-box d-flex mb-5">
          <img src="assets/images/about_innplay2.jpg" class="img-fluid main-img">
          <div>
            <h5>24/7 Support</h5>
            <p>Our team is always available to help you.</p>
          </div>
        </div>

        <div class="choose-box d-flex mb-5">
          <img src="assets/images/about_innplay1.jpg" class="img-fluid main-img">
          <div>
            <h5>Trusted Service</h5>
            <p>Thousands of happy customers trust us.</p>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>